.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    &::after {
        display: block;
        content: '';
        border: 4px solid #b8c1cc;
        border-bottom: 4px solid transparent;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
